<li
  class="bg-slate-200  rounded drop-shadow-xl w-full p-5 flex flex-col gap-2 items-center justify-center ring max-w-lg"
>
  <%= link_to "Author: #{article.user.username.capitalize}", user_path(article.user), class: 'text-xs' %>
  <hr class="h-[1px] w-10/12 my-3 bg-gray-500 border-0" />
  <p class="text-blue-500 text-2xl text-center"><%= article.title %></p>
  <%= image_tag("/images/#{article.photo}", class: 'w-36 h-56 rounded-lg object-fill drop-shadow-xl') %>
  <p class="text-blue-400 w-full truncate text-center text-sm mt-2"><%= article.description %></p>
  <div class="flex">
    <% article.categories.each do |category|  %>
      <%= link_to category_path(category) do%>
        <span
          class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300"
        ><%= category.name %></span>
      <% end%>
    <% end  %>
  </div>
  <div class="flex flex-col items-center gap-3 py-5   ">
    <%= link_to 'Show', article_path(article), class: 'btn-indigo btn-normal' %>
    <div class="flex gap-2">
      <% if logged_in? && (current_user == article.user || current_user.admin?) %>
        <%= link_to 'Edit', edit_article_path(article), class: 'w-14 text-center btn-green btn-small' %>
        <%=
          link_to 'Delete',
                  article_path(article),
                  data: {
                    turbo_method: :delete,
                    turbo_confirm: 'Are you sure?',
                  },
                  class: 'w-14 text-center btn-red btn-small'
        %>
      <% end %>
    </div>
  </div>
  <div>
    <p class="text-sm text-gray-400">Created <%= time_ago_in_words(article.created_at) %> ago</p>
    <p class="text-sm text-gray-400">
      <%= "Edited #{time_ago_in_words(article.updated_at)} ago" if article.updated_at != article.created_at %>
    </p>
  </div>
</li>
