<section class="flex justify-center gap-5 py-5">
  <article class="w-10/12 bg-gray-200 rounded-md p-5 flex flex-col items-center justify-center gap-5">
    <h2 class="text-indigo-600 text-4xl text-center"><%= @article.title %></h2>
    <%= image_tag("/images/#{@article.photo}", class: 'w-56 rounded-lg') %>
    <div class="flex">
      <% @article.categories.each do |category|  %>
        <%= link_to category_path(category) do%>
          <span
            class="bg-blue-100 hover:bg-blue-200 text-blue-800 text-xs font-semibold me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400 inline-flex items-center justify-center"
          ><%= category.name %></span>
        <% end  %>
      <% end  %>
    </div>

    <%= link_to @article.user do%>
      <div class="flex flex-col items-center">
        <%= image_tag(@article.user.avatar, alt: @article.user.username, class: 'rounded-md w-20') %>
        <p class="text-blue-500">By: <%= @article.user.username.capitalize %></p>
      </div>
    <% end %>

    <p>Description: <%= @article.description %></p>

    <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
      <div class="flex gap-3">
        <p>
          <%=
            link_to 'Edit',
                    edit_article_path(@article),
                    class: 'text-blue-500 border-[1px] border-blue-500 p-2 rounded-lg'
          %>
        </p>
        <p>
          <%=
            link_to 'Delete',
                    article_path(@article),
                    data: {
                      turbo_method: :delete,
                      turbo_confirm: 'Are you sure?',
                    },
                    class: 'text-red-500 border-[1px] border-red-500 p-2 rounded-lg'
          %>
        </p>
      </div>
    <% end %>
    <div>
      <p class="text-sm text-gray-400">Created <%= time_ago_in_words(@article.created_at) %> ago</p>
      <p class="text-sm text-gray-400">
        <%= "Edited #{time_ago_in_words(@article.updated_at)} ago" if @article.updated_at != @article.created_at %>
      </p>
    </div>
    <p>
      <%=
        link_to 'Return to Articles',
                articles_path,
                class: 'text-green-500 border-[1px] border-green-500 p-2 rounded-lg'
      %>
    </p>
  </article>
</section>
