<%= render 'shared/errors', obj: @user %>

<div class="flex justify-center items-center w-full py-4">
  <%= form_with model: @user, class: "w-10/12 flex flex-col items-center gap-3" do |f|%>
    <div class="flex justify-center items-center">
      <%= f.text_field :username, placeholder: 'Username', class: 'w-40 border-[1px] border-blue-500 rounded-lg p-1' %>
    </div>

    <div class="flex justify-center items-center">
      <%= f.email_field :email, placeholder: 'Email', class: 'w-40 border-[1px] border-blue-500 rounded-lg p-1' %>
    </div>

    <div class="flex justify-center items-center">
      <%=
        f.password_field :password, placeholder: 'Password', class: 'w-40 border-[1px] border-blue-500 rounded-lg p-1'
      %>
    </div>

    <div class="center-f-col bg-white rounded-md border-[1px] border-blue-500 p-1">
        <label for="G.I. Joe">
          <input
            type="radio"
            name="faction"
            id="G.I. Joe"
            value="G.I. Joe"
            onclick="document.getElementById('factionField').value = this.value"
            checked
          />
          <%= image_tag 'gijoe.png', alt: 'Cobra', class: 'w-40' %>
        </label>

        <label for="Cobra">
          <input
            type="radio"
            name="faction"
            id="Cobra"
            value="Cobra"
            onclick="document.getElementById('factionField').value = this.value"
          />
          <%= image_tag 'cobra.png', alt: 'Cobra', class: 'w-40' %>
    </div>

    <%= f.hidden_field :faction, id: 'factionField' %>

    <div class="flex justify-center items-center">
      <%=
        f.submit(
          @user.new_record? ? 'Sign up' : 'Update Account',
          class: 'px-5 py-2 bg-blue-600 text-white rounded-lg border-[1px] border-white',
        )
      %>
    </div>
  <%end%>
</div>
