<section class="flex flex-col items-center gap-5 py-5 <%= gijoe?(@user) ? 'gijoeBg' : 'cobraBg' %>">
  <h2 class="text-red-700 text-shadow-blue font-semibold text-5xl text-center truncate">
    <%= @user.username.capitalize %><br /><span class="text-red-700 text-shadow-blue font-semibold text-xl text-center">
      <%= gijoe?(@user) ? 'G.I. Joe' : 'Cobra' %>
    </span>
  </h2>

  <%= image_tag(gravatar(@user, 200), alt: @user.username, class: 'rounded-md border-2 border-white') %>
  <p class="<%= gijoe?(@user) ? 'text-red-700 text-bold' : 'text-white' %> text-center truncate w-11/12">
    <%= @user.email %>
  </p>
  <% if logged_in? && current_user == @user %>
    <div class="flex flex-col gap-3">
      <%=
        link_to 'Edit Profile',
                edit_user_path(@user),
                class: 'text-white text-center border-[2px] border-white bg-blue-500 p-2 rounded-lg'
      %>

      <%=
        link_to 'Delete Profile',
                user_path(@user),
                data: {
                  turbo_method: :delete,
                  turbo_confirm: 'Are you sure?',
                },
                class: 'text-white text-center border-[2px] border-white bg-red-500 p-2 rounded-lg'
      %>
    </div>
  <% end %>

  <h2 class="text-white text-shadow font-semibold text-2xl text-center">Articles</h2>
  <%= render 'articles/article' %>

  <div class="flickr_pagination">
    <%= will_paginate @articles, container: false %>
  </div>
</section>
